# Node
NODE_ENV=development

# App
APP_HOST="0.0.0.0"
APP_PORT=6767
APP_CORS_ORIGINS="*"
APP_CORS_METHODS="*"
APP_CORS_HEADERS="*"
APP_CORS_ALLOW_CREDENTIALS=0

# Pino
PINO_LOGGING_AUTO=1
PINO_LOG_LEVEL=debug
PINO_PRETTY_MODE=1

# Throttler
THROTTLER_TTL=60000
THROTTLER_LIMIT=10

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=9100
REDIS_DB=0

# Database
DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=NoPasswordForYou
DB_NAME=TemplateBase

# Prisma
PRISMA_DB_URL="sqlserver://${DB_HOST}:${DB_PORT};database=${DB_NAME};user=${DB_USER};password=${DB_PASSWORD};trustServerCertificate=true"
