# Node
NODE_ENV=development

# App
APP_HOST="0.0.0.0"
APP_PORT=6767
APP_CORS_ORIGINS="*"
APP_CORS_METHODS="*"
APP_CORS_HEADERS="*"
APP_CORS_ALLOW_CREDENTIALS=0

# Pino
PINO_LOGGING_AUTO=1
PINO_LOG_LEVEL=debug
PINO_PRETTY_MODE=1
